<% provide(:title, @text) %>

        <% flash.each do |message_type, msg| %>
          <div class="alert alert-<%= message_type %>"><%= msg %></div>
        <% end %>

<h1 id="unit" class= "text-center" ><%= @text %></h1>
<input type="hidden" id="ref" value= <%= @ref %> >

<div class = "container-fluid boite ">
  <div class = "jumbotron">

  <div class ="row">
       <div class ="col-md-5 block-gauche">
           <%= text_field_tag "r1" ,0,class: "btn-block", :onkeyup =>  "convert_left()" %>
           <%= select_tag(:s1, options_for_select(@units, selected: :s1 ), :onchange => 'convert()',class: "btn-block") %>
       </div>
       <div class ="col-md-2 text-center fleches" data-toggle="tooltip" title="Click to reverse units" onclick='reverse_unit();'>
         
            <span class="glyphicon glyphicon-arrow-right "></span><br>
            <span class="glyphicon glyphicon-arrow-left "></span>
         
       </div>
       <div class ="col-md-5 block-droite">
           <%= text_field_tag "r2",0, class: "btn-block", :onkeyup => "convert_rigth()" %>
           <%= select_tag(:s2, options_for_select(@units, selected: :s2 ), :onchange => 'convert()',class: "btn-block") %>
       </div>
   </div>

  <div class="row">
     <div class = "col-md-2">
     </div>

     <div class = "col-md-8 reset">
     <%= link_to "Reset", reset_path ,class: "btn btn-danger btn-block" %>
     </div>

     <div class = "col-md-2">
     </div>

  </div>

<div class="text-center">
   <span><b class="text-warning">Decimals </b></span>
   <%= number_field_tag :precis, 2, min: 0, max: 5,:onchange => 'convert()',class: "precision" %>
</div>
   
 </div>

</div>







