 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     

      <%= link_to "Convertibo", root_path, class: "navbar-brand eclair"  %>


    </div>
    <ul class="nav navbar-nav">
     <!-- <li><%= link_to "Home", root_path %></li> -->
      <li class="dropdown">
        <a class="dropdown-toggle eclair" data-toggle="dropdown" href="#">Home
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Area", area_path %></li>
          <li><%= link_to "Density", density_path %></li>
          <li><%= link_to "Energy", energy_path %></li>
          <li><%= link_to "Force", force_path %></li>
          <li><%= link_to "Length", length_path %></li>
          <li><%= link_to "Mass", mass_path %></li>
          <li><%= link_to "Pressure", pressure_path %></li>
          <li><%= link_to "Speed", speed_path %></li>
          <li><%= link_to "Temperature", temp_path %></li>
          <li><%= link_to "Time", time_path %></li>
          <li><%= link_to "Volume", volume_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
